#value-selector {
	transition: visibility 0.2s ease;
}

#select-option-popup,
#time-picker-popup,
#spin-date-picker-popup,
#value-selector.closing #select-option-popup,
#value-selector.closing #time-picker-popup,
#value-selector.closing #spin-date-picker-popup {
  transform: translateY(80rem);
}

#select-option-popup,
#time-picker-popup,
#spin-date-picker-popup {
  transform: translateY(80rem);
  transition: transform 0.3s ease;
}

#value-selector.visible:not(.closing) #select-option-popup,
#value-selector.visible:not(.closing) #time-picker-popup,
#value-selector.visible:not(.closing) #spin-date-picker-popup {
  transform: translateY(0);
}

#screen.modal-dialog #dialog-overlay.closing #modal-dialog {
  transform: translateY(80rem);
}

#screen.modal-dialog.closing #dialog-overlay.closing {
  visibility: hidden;
}

#modal-dialog {
  transform: translateY(80rem);
  transition: transform 0.3s ease;
  height: 100%;
}
#modal-dialog-alert.visible,
#modal-dialog-confirm.visible,
#modal-dialog-prompt.visible,
#authentication-dialog.visible,
#authentication-dialog-http.visible,
#modal-dialog-error.visible,
#modal-dialog-select-one.visible {
  display: block;
}
#screen.modal-dialog #modal-dialog,
#screen.authentication-dialog #authentication-dialog,
#value-selector[data-visible="true"] {
  transform: translateY(0);
}